/*
	Name: Mackinley Price
	File: style.css
	Date: 23 February 2026
	This style sheet is to format biography.html
*/

html {
  background-color: white;
}

body {
  font: 1.2em / 1.5 system-ui;
}

/* Box styles */

body{
    padding: 28px;
    width: 500px;
    background-color: #efefef;
    margin: auto;
}
ul{
    background-color: white;
    border: 5px solid purple;
    padding: 30px;
    border-radius: 20px;
}

/* Text styles */

h1{
    color: darkslategray;
    border-bottom: 10px dotted purple;
    font-size: 2rem;
}
h2{
    font-style: italic;
    font-size: 1.5rem;
}