/*
	Name: Mackinley Price
	File: style.css
	Date: 24 February 2026
	This style sheet is to format index.html
*/
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Serif+Display:ital@0;1&display=swap');

html{
    font-family: "DM Serif Display", serif;
}

h1, h2{
    font-family: "Alfa Slab One", serif;
}

/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}
/*Text styles*/
h1{
    
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1px;
}
h2{
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 0;
}
section h2 + p{
    text-indent: 2rem;
}
p, li{
    letter-spacing: 0.5px;
    line-height: 1;
}
/*Link styles*/ 
a:link{
    color: #aa6666;
}
a:visited{
    color:#722424;
}
a:focus, a:hover{
    text-decoration: none;
    color:#d68282;
}
a{
    outline: none;
}
a[href*="http"]{
    background: url("external-link-52.png") no-repeat right center;
    padding-right: 12px;
    background-size: 10px 10px;
}   
/*List styles*/
ul,ol{
    margin: 1rem 0;
}
ul{
    list-style-type: circle;
}
ol{
    list-style-type:disc;
}
/*Navigation menu styles*/
nav li a{
    font-family: "Alfa Slab One", serif;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    width: 110%;
    line-height: 3.5;
    text-transform: uppercase;
    font-size: 1.5rem;
    border: 2px solid #aa6666;
    display: block;
}

nav li{
    list-style-type: none;
    margin-bottom: 1rem;
}
